#section1, #section2, #section3, #section4, #section5, #section6 {
    padding: 50px 20px;
  }
  
  #section1 {
    padding: 225px 0;
  }
  
  #section2, #section3, #section4 {
    text-align: center;
  }
  
  .image_my_speciality {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  
  .image_my_speciality img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
  }
  
#section5 .text-box h2 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
#section5 .text-box p {
  font-size: 8px;
  color: #444;
  line-height: 1.5;
}